<section id="about">
    <div class="content-section">
        <div class="jumbotron">
            <h1 class="display-5">This is my agenda</h1>

            <h3 class="display-7"><em>"Progress is the product of relentless experimentation."</em></h3>

            <p class="lead">Welcome to a space dedicated to the art of software development. Here, I don't just code; I
                explore, experiment, and evolve. It's a journey of continuous learning, where each project is new
                potental for growth.</p>

            <p class="lead">From the experimental to the refined, this portfolio is a collection of my attempts to
                innovation. It's not just about building software; it's about crafting solutions that redefine the old
                ways.</p>

            <h3 class="display-7"><em>"I dont know where i'm going, but i know how to get there"</em></h3>

            <p class="lead">I invite you to join me on this exploration. Whether you're a fellow coder, or simply
                curious, let's embark on a journey of discovery and growth. The best is yet to be written.</p>

            <p class="lead">Thank you for being here. Your curiosity fuels mine. Let's connect and create something that
                challenges the status quo.</p>


        </div>
    </div>
</section>