<section id="contact">
    <div class="content-section">
        <div class="jumbotron">
            <h1 class="display-4"> Contact Me</h1>
            <p class="lead">
                My background is in art. Easily the most important insight gained from
                that period of my life was nothing helps improvement like an candor and critics from peers. <br>
                So with that being said, please provide any words of wisdom via my email below.
            </p>
        </div>
        <div class="contact-box">
            <a href="mailto:nate@alaskanadesign.com" class="btn btn-dark portfolio-cta-btn">Email me!</a>
        </div>
    </div>
</section>