<section id="portfolio">
  <div class="content-section">
    <div class="jumbotron sm-apps">
      <h1 class="display-5">Small applications I've built</h1>
      <p id="portfolio-lead" class="lead">I've built each of these applications on my own. Click a link to read more about what tech was used to build each.  </p>
    </div>

      <!-- <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Learn w/Flashcards</h5>
              <p class="card-text">Learn core HTML, CSS, Javscript, and Python concepts with flashcards. </p>
              <a href="/flashcards" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Anonymous profiles & tickets </h5>
              <p class="card-text">Create a profile, submit secure and confidenal information anonymously</p>
              <a href="#" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div> -->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Difi Price Compare</h5>
              <p class="card-text"> View, price-compare, and view your cryptocurrancy of choice with the price viewer app.</p>
              <a href="./portfolio/crypto" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Personal Blog</h5>
              <p class="card-text">This is my personal blog, Documenting my software development as I learn and grow.</p>
              <a href="/blog" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Larger Projects -->
      <div class="jumbotron lg-apps">
        <h1 class="display-5">Larger Project</h1>
        <p id="portfolio-lead" class="lead">Somethings more ambisous </p>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Team Share Local</h5>
              <p class="card-text">Trade Stregths for Strngths <br> 
              An application with a user profile and bio <br> 
              Ability to Post a work trade an offer. 
              Small fee for hosting 
              Eventual blockchain integration and decentralized systems utilizing NFT's. 
            </p>
              <a href="/" class="btn btn-dark portfolio-cta-btn">View</a>
            </div>
          </div>
        </div>
      </div>
  </div>



</section>