<section id="portfolio">
  <div class="content-section">
    <div class="jumbotron">
      <h1 class="display-5">Check out what i've built!</h1>
      <p id="portfolio-lead" class="lead">I've built each of these applications on my own. Click a link to read more about what tech was used to build each.  </p>
    </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Learn w/Flashcards</h5>
              <p class="card-text">Learn core HTML, CSS, Javscript, and Python concepts with flashcards. </p>
              <a href="/flashcards" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Anonymous profiles & tickets </h5>
              <p class="card-text">Create a profile, submit secure and confidenal information anonymously</p>
              <a href="#" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div> -->
      </div>
      <div class="w-100"></div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Crypto Currencies Company</h5>
              <p class="card-text"> View, price-compare, and view your cryptocurrancy of choice with the price viewer app.</p>
              <a href="/crypto" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Personal Blog website</h5>
              <p class="card-text">This is my personal blog, Documenting my software development as I learn and grow.</p>
              <a href="#" class="btn btn-dark portfolio-cta-btn">Try Now</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>