
<div class="about content-section">
    <div class="jumbotron">
        <h1 class="display-4">Ok, What's my agenda... </h1>
    
        <h3 class="display-8"><em>"Reflect on progress made. Remember how far you've come."</em></h3>
    
        <p class="lead">For me, the whole goal of this portfolio/website/blog is to showcase the evolution of my craft. that i have a medium to express my coding creativity
            and track my
            progress as i move though my carrer. <br>
            It's great because more then likely no one will ever look at it (at least in
            the short term), and that's ok with me! </p>
        </p>
    </div>
</div>

