<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alaskana Coding Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">ADMIN PAGE FOR DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
        </ul>
    </div>
  </nav>
  <body>
    <div class="container">
        <h1>It's My Birthday </h1>
        <h2>You're invited!</h2>
        <img class="random-img" src="https://picsum.photos/200" alt="random img"/>

        <h3>What to bring</h3>
        <ul>
            <li>gifts</li>
            <li>gifts</li>
            <li>gifts</li>
        </ul>

        <h3>Where to go</h3>
        <a href="https://goo.gl/maps/N9rhM8j5mVy2GXfi7">BlockBuster!</a>
<p>You are logged in </p>

<%- include ('partials/footer') -%>