<%- include ('partials/admin-header') -%>

        <h1>It's My Birthday </h1>
        <h2>You're invited!</h2>
        <img class="random-img" src="https://picsum.photos/200" alt="random img"/>

        <h3>What to bring</h3>
        <ul>
            <li>gifts</li>
            <li>gifts</li>
            <li>gifts</li>
        </ul>

        <h3>Where to go</h3>
        <a href="https://goo.gl/maps/N9rhM8j5mVy2GXfi7">BlockBuster!</a>
<p>You are logged in </p>

<%- include ('partials/footer') -%>