<%- include ('partials/header') -%>

<h1> Compose </h1>

<hr>


<form action="/compose" method="POST">


  <div class="form-group"> 
    <label for="titleText">Title</label>
    <input type="text" name='postTitle' class="form-control" id="titleText">
    <label for="messageText">Message</label>
    <textarea type="text" name="postBody" class="form-control" id="messageText" rows="3"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>



<%- include ('partials/footer') -%>