<%- include ('partials/admin-header') -%>

<h1> Compose </h1>

<hr>






<div class="row">
  <div class="col-sm-6">

    <div class="card card-body">
      <div class="newBlogPost">
        <form action="/compose/post" method="POST">
          <div class="form-group">
            <label for="titleText">Post Title</label>
            <input type="text" name='postTitle' class="form-control" id="titleText">
            <label for="messageText">Post Message</label>
            <textarea type="text" name="postBody" class="form-control" id="messageText" rows="3"></textarea>
            <button class="compose-btn" type="submit">Post to Blog</button>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="col-sm-6">
    <div class="card card-body">
      <div class="newFlashCard">
        <form action="/compose/flashcard" method="POST">
          <div class="form-group">
            <label for="flashcardQustionText">Flashcard Qustion</label>
            <input type="text" name='flashcardQustion' class="form-control" id="flashcardQustionText">
            <label for="flashcardAnswerText">Flashcard Answer</label>
            <textarea type="text" name="flashcardAnswer" class="form-control" id="flashcardAnswerText"
              rows="3"></textarea>
            <p>Please select the card category</p>
            <input type="radio" id="html" name="flashcardCategory" value="HTML">
            <label for="html">HTML</label><br>
            <input type="radio" id="css" name="flashcardCategory" value="CSS">
            <label for="css">CSS</label><br>
            <input type="radio" id="javascript" name="flashcardCategory" value="JavaScript">
            <label for="javascript">JavaScript</label>
            <button class="compose-btn" type="submit">Create Flashcard</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>









<%- include ('partials/footer') -%>