<%- include ('partials/header') -%>


<h1>Crypto Price Viewer</h1>


<p>Actually found it! <br>

    Full Stack Developer Exercise: <br>

    Create a single page web application for viewing and comparing currencies. <br>

    You will be using a REST API provided by CoinAPI.io. The API documentation can be found here: <a
        href="https://docs.coinapi.io/?shell#md-rest-api">https://docs.coinapi.io/?shell#md-rest-api</a><br>

    You will need to generate your own API key from the site. <br>

    **Please note that the API key is limited to 100 calls per day. <br>

    The application should allow the user to: <br>

    - list all of the assets provided by this API <br>

    - filter or search the list by asset name <br>

    - see more details about an asset (by clicking on it, e.g.) <br>

    - display the exchange rate between 2 assets <br>

    The application must run in the latest version of Chrome and Firefox. You may use whatever JavaScript and CSS
    libraries you'd like. <br>

    The UX and UI are totally up to you, so impress us. <br>

    If you have time, feel free to use the other resources this API provides and add extra functionality to the
    application!</p> <br>

<div class="row">
    <div class="col-sm-6">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-sm-6">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>


<%- include ('partials/footer') -%>