<%- include ('partials/header') -%>

<h1>Flash Cards</h1>

<p>Flash cards that have helped me learn and master challanging software concepts.
    While these might come in handy to someone who might find themself on this page,
    the true value of flash cards for me has come though the process of hand writing
    each and every one. as i search for a summery of the concept if i encounter any other
    word or concept i dont know i simply write another flash card. yes it's tetious, but
    no one said learning coding was going to be easy.
</p>





<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Try a new card
    </a>
</p>
<div class="collapse" id="collapseExample">
    <% newCard.forEach(function(foundCard){ %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= foundCard.title %></h5>
            <p class="card-text">the body of the card.</p>
        </div>
    </div>
    <% }) %>
</div>






<%- include ('partials/footer') -%>