<%- include ('partials/header') -%>

<h1>This is the portfolio </h1>

<div class="in-summery">
  <p>Click though the links to see my projects in action, to read more about what went in to the devlopment of each applicaiton see "how i did it".</p>
</div>


<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Learn w/Flashcards</h5>
          <p class="card-text">A Tech Flash card app that can be sorted by diffrent tech catagories</p>
          <a href="/flashcards" class="btn btn-primary">Try Now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Anonymous profiles & tickets </h5>
          <p class="card-text">Create a profile, submit secure and confidenal information anonymously</p>
          <a href="#" class="btn btn-primary">Try Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crypto Currencies Company</h5>
          <p class="card-text"> View and compare crypto prices.</p>
          <a href="/crypto" class="btn btn-primary">See now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Personal Blog website</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">See now</a>
        </div>
      </div>
    </div>
  </div>



<%- include ('partials/footer') -%>