body {
  margin: 0;
  padding: 0 0 5rem 0;
  height: 100%;
}

.compose-btn{
  margin-top:1rem;
  margin-bottom: 1rem;
}





footer {
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 65px;
  background-color: #fedd02;
}


footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #000;
}


.form-group{
  margin: 0 5rem;
}

h1 {
  margin-top:5rem;
  margin-bottom:5rem;
}


/* nav bar */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-nav .nav-link {
  margin-left: 30px;
}

.navbar-nav li a:hover {
  color: #245699 !important;
}

.navbar-right {
  margin-left: auto;
}
.navbar-right li {
  padding-right: 15px;
}

.navbar-toggler {
  margin-right: 30px;
}

/* Content sections of home page */

.content-section{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 7rem 10rem 15rem 10rem;
}

.intro {
  background-color: #fedd02;

}

.portfolio {
}

.card { 
  margin:10px;
}

.card-body {
}

.card-text {
  height: 100px;
  overflow:auto;
}




.post {
  text-align: center;
}


.submit-btn {
  margin: 10px 0 0 0;
}


th {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  /* Set the minimum height to the full viewport height */
  padding-bottom: 50px;
  /* Adjust the padding as needed */
}



@media (max-width: 720px) {

  .container{
    padding: 0 5rem;
    text-align: center;
    flex-direction: column;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color:#fedd02;
  }
  
  
  footer p {
    margin-top: 15px;
    font-size: 1rem;
    color: #000;
  }

  .intro {
    
    margin-bottom: 10rem;
  }
}
